.user-info {
    margin-bottom: 20px;
}

.button-container a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #6D9EA3;
    transition: background-color 0.2s;
    cursor: pointer;
    color: #F6F6F6;
    text-decoration: none;
    border-radius: 15px;
    width: 200px;
    text-align: center;
}

.button-container a:hover {
    background-color: #6d9ea3b7;
}

.profile-container-centered {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.user-basic-info {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 5px;
    margin-left: 10px;
}

.language-level {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.empty-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-photo::before {
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
    color: #777;
}

.button-container.right-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.centered-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}


.task-progress-box {
    background-color: #1e1e1e;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: left;
}

.task-progress-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.task-progress-table th, .task-progress-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.task-progress-table th {
    background-color: #333;
}

.task-progress-table tr:nth-child(even) {
    background-color: #252525;
}

.user-basic-info > p {
    margin: 10px;
}

.stats-box > h3, .task-progress-box > h3 {
    margin: 5px 0;
}

.profile-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}


.task-progress-item {
    margin: 15px 0;
}
