form > h2{
    margin: 0;
    padding: 20px;
    font-size: 35px;
}

form > p {
    margin: 10px;
}

li {
    font-size: medium;
}

.form-group > p{
    display: inline-block;
    margin: 5px 10px;
}

form > button {
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
    height: 30px;
    width: 150px;
    background-color: #A2C1C3;
    border-radius: 10px;
    transition: background-color 0.2s;
}

form > button:hover {
    background-color: #afd0d3;
}

input {
    margin-right: 10px;
}

.mt-3 > a{
    text-decoration: none;
}