body {
    margin: 0;
}

header > nav {
    height: 60px;
    background-color: #A2C1C3;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.right-content > li {
    display: inline-block;
    margin: 0 3px;
}

.right-content > li > a {
    padding: 10px 18px;
    background-color: #6D9EA3;
    border-radius: 15px;
    color: #F6F6F6;
    transition: background-color 0.2s;
}

.right-content > li > a:hover {
    background-color: #6d9ea3b7;
}

.right-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.avatar {
    margin-left: 10px;
    border-radius: 50%;
    vertical-align: middle;
    width: 44px;
    height: 44px;
}

/* Стили только для кнопки выхода */
.right-content > li > .logout-btn {
    background-color: #c46d6d;
    padding: 10px 18px;
    border: none;
    border-radius: 15px;
    color: #F6F6F6;
    cursor: pointer;
    transition: background-color 0.2s;
}

.right-content > li > .logout-btn:hover {
    background-color: #c46d6db7;
}