body {
    margin: 0;
}

footer {
    background-color: #222325;
    width: 100%;
    padding: 30px 0;
}

footer > a {
    color: #F6F6F6;
    margin-right: 10px;
}

footer > img {
    padding-left: 20px;
    margin-right: 30px;
}