.title{
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: x-large;
}

h2{
    margin: auto;
}

.btn{
    color: white;
    background-color: rgba(109, 158, 163, 1);
    padding: 5px 9px;
    border-radius: 15px;
}
