.task-question > h3 {
    margin: 0;
    text-align: center;
    padding-top: 15px;
    font-size: x-large;
}

.task-question > p{
    margin: 0;
    margin-bottom: 10px;
}

.task-card{
    padding: 0 10px;
}

.audio-answer-input{
    margin-top: 10px;
}

.audio-answer-input > input{
    margin-left: 10px;
}

.submit-section > button{
    margin: 15px 10px;
    padding: 5px 9px;
    color: white;
    background-color: rgba(109, 158, 163, 1);
    border-radius: 15px;
}



.results-summary{
    padding: 0 10px;
}

.results-summary > h2 {
    padding: 15px 0;
    margin: 0;
    font-size: x-large;
}

.results-summary > p{
    margin: 0;
}

.correct-answer > p{
    margin: 0;
}

.correct-answer{
    margin: 10px 0;
}

.container {
    margin-top: 30px;
    min-height: 100vh;
}
.submit-section{
    margin-top: 5px;
}

.tasks-container{
    margin: 0 20px;
}

.tasks-button {
    color: white;
    background-color: rgba(109, 158, 163, 1);
    padding: 5px 9px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}

body {
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

main {
        background-color: transparent;
}
