{% extends 'html/pages/base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/account_page.css' %}">{% endblock extra_css%}


{% block content %}
    <div class="profile-container">
        <h1>Добро пожаловать, {{ user.username }}!</h1>


        <div class="user-info">
            <p><strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <div class="button-container">
            <a href="/langlevel_page/" class="button">Задания</a>
            <a href="/accountedit_page/" class="button">Редактировать</a>
            {% if user.is_authenticated %}
                <a href="/main_page/" logout=true" class="button">Выйти</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
