{% extends 'html/pages/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="profile-container-centered">
    <div class="profile-header">
        <div class="profile-photo">
            {% if profile.profile_photo %}
                <img src="{{ profile.profile_photo.url }}" alt="Фото профиля">
            {% else %}
                <img src="{% static 'images/avatar.png' %}" class="avatar" alt="Аватар">
            {% endif %}
        </div>
        <div class="user-basic-info">
            <p><strong>Имя:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p class="language-level"><strong>Уровень языка:</strong> {{ profile.language_level }}</p>
        </div>
    </div>

    <div class="button-container">
        <a href="/accountedit_page/" class="button">Редактировать</a>
    </div>

    <div class="stats-box">
        <h3 class="stats-title">Статистика</h3>
        <p><strong>Серия (streak):</strong> {{ profile.streak }}</p>
        <p><strong>Пройдено уровней:</strong> {{ profile.completed_levels }}</p>
        <p><strong>Достижения:</strong> {{ profile.achievements }}</p>
    </div>

    <div class="task-progress-box">
        <h3 class="progress-title">Прогресс заданий</h3>

        {% for progress in task_progress %}
            <div class="task-progress-item">
                <div class="task-item">
                    <label><strong>Урок:</strong> {{ progress.level }}-{{ progress.lesson }}</label>
                </div>
                <div class="status-item">
                    <label><strong>Статус:</strong> {% if progress.result == 100 %}✔ {% else %}✖ {% endif %} {{ progress.result }}%</label>
                </div>
                <div class="date-item">
                    <label><strong>Дата выполнения:</strong> {% if progress.date_completed %}{{ progress.date_completed|date:"d.m.Y H:i" }}{% else %}-{% endif %}</label>
                </div>
            </div>
        {% empty %}
            <p>Заданий пока нет</p>
        {% endfor %}
    </div>
</div>
{% endblock %}