{% extends 'html/pages/base.html' %}
{% block title %}Редактировать профиль{% endblock %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/accountedit_page.css' %}">
{% endblock %}

{% block content %}
<div class="profile-edit-wrapper">
  <div class="form-column">
    <h2 class="title-left">Profile edit</h2>
    <div class="avatar-row">
      <img src="{% static 'images/default_avatar.png' %}" alt="Avatar" class="avatar">
      <button type="button" class="btn-edit">edit</button>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="input-custom" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="input-custom" required>
      </div>
      <button type="submit" class="btn-save">save changes</button>
    </form>
  </div>
</div>
{% endblock %}
