{% extends 'html/pages/base.html' %}

{% block title %}Edit profile{% endblock %}

{% block extra_css %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/accountedit_page.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/change-avatar.js' %}"></script>
{% endblock %}


{% block content %}
<div class="profile-edit-wrapper">
  <div class="form-column">
    <h2 class="title-left">Profile edit</h2>


    <h3 class="section-title">Change Avatar</h3>
    <div class="avatar-row">
    {% if profile_form.instance.profile_photo %}
      <img src="{{ profile_form.instance.profile_photo.url }}"
           alt="Avatar"
           class="profile-avatar">
    {% else %}
      <img src="{% static 'images/avatar.png' %}"
           alt="Avatar"
           class="profile-avatar">
    {% endif %}
    </div>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ profile_form.profile_photo }}
      </div>
      <button type="submit" name="profile_submit" class="btn-save">Update Photo</button>
    </form>


    <h3 class="section-title">Change Email</h3>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ email_form.email.label_tag }}
        {{ email_form.email }}
      </div>
      <button type="submit" name="email_submit" class="btn-save">Update Email</button>
    </form>


    <h3 class="section-title">Change Password</h3>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ password_form.old_password.label_tag }}
        {{ password_form.old_password }}
      </div>
      <div class="form-group">
        {{ password_form.new_password1.label_tag }}
        {{ password_form.new_password1 }}
      </div>
      <div class="form-group">
        {{ password_form.new_password2.label_tag }}
        {{ password_form.new_password2 }}
      </div>
      <button type="submit" name="password_submit" class="btn-save">Update Password</button>
    </form>

  </div>
</div>
{% endblock %}
