<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingvista</title>
</head>
<body>
    <header role="header">
        {% include 'html/elements/navbar.html' %}
    </header>

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    <footer role="footer">
        {% include 'html/elements/footer.html' %}
    </footer>
</body>
</html>
