{% extends 'html/pages/base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="/static/css/langlevel_page.css">{% endblock extra_css%}

{% block content %}
    <h1>Выберите уровень языка:</h1>
    <div class="links-block">
        <div class="link-section">
            <a href="{% url 'lessons' level='a1' %}">A1</a>
        </div>
        <div class="link-section">
            <a href="{% url 'lessons' level='a2' %}">A2</a>
        </div>
        <div class="link-section">
            <a href="{% url 'lessons' level='b1' %}">B1</a>
        </div>
        <div class="link-section">
            <a href="{% url 'lessons' level='b2' %}">B2</a>
        </div>
        <div class="link-section">
            <a href="{% url 'lessons' level='c1' %}">C1</a>
        </div>
        <div class="link-section">
            <a href="{% url 'lessons' level='c2' %}">C2</a>
        </div>
    </div> 
{% endblock %}
