{% extends 'html/pages/base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="/static/css/langlevel_page.css">{% endblock extra_css%}

{% block content %}
    <h1>Select language level</h1>
    <div class="links-block">
        {% for level_data in levels_data %}
        <div class="link-section
            {% if not level_data.is_unlocked and not user.is_superuser %}locked-level{% endif %}
            {% if level_data.is_completed %}completed-level{% endif %}">

            {% if level_data.is_unlocked or user.is_superuser %}
                <a href="{% url 'lessons' level=level_data.level.level|lower %}">
                    {{ level_data.level.level }} - {{ level_data.level.description }}
                    {% if level_data.is_completed %}✓{% endif %}
                    {% if user.is_superuser %}🔑{% endif %}  <!-- Иконка для админа -->
                </a>
            {% else %}
                <span>{{ level_data.level.level }} - {{ level_data.level.description }}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
