{% extends 'html/pages/base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="/static/css/lessons_page.css">{% endblock extra_css%}

{% block content %}
    <h1 class="title">Lessons for level: {{ level }}</h1>

    <div class="lessons-container">
        {% for lesson_data in lessons_data %}
            <div class="lesson-card {% if lesson_data.is_completed %}completed-lesson{% endif %}">
                <h3>{{ lesson_data.lesson.title }}</h3>
                <p>{{ lesson_data.lesson.description }}</p>

                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ lesson_data.score }}%"></div> <!-- нужно доделать -->
                </div>
                <p>Progress: {{ lesson_data.score }}%</p>

                {% if not lesson_data.is_completed %}
                    <a href="{% url 'tasks' level=level lesson=lesson_data.lesson.lesson_number %}">
                        <button class="lesson-button">Start lesson</button>
                    </a>
                {% else %}
                    <button class="lesson-button" disabled>Lesson done</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}