{% extends 'html/pages/base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<h2>Вход</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">username:</label>
    <input type="text" name="username" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Пароль:</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">log in</button>
</form>
<p class="mt-3">
  dont have an account? <a href="{% url 'register' %}">sign in</a><br>
  <a href="{% url 'password_reset' %}">forgot password?</a>
</p>
{% endblock %}