{% load static %}
<link rel="stylesheet" href="/static/css/navbar.css">
<header>
    <nav>
       <a href="/" class="logo-link">
             <img src="{% static 'images/logo.png' %}" alt="Логотип" style="height: 50px; width: auto;">
        </a>
        <div class="right-content">
            {% if user.is_authenticated %}
                <ul class="right-content">
                    <li><a href="{% url 'langlevel' %}">tasks</a></li>
                    <li><a href="{% url 'profile_view' %}">profile</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="logout-btn">log out</button>
                        </form>
                    </li>
                    {% if user.profile.profile_photo %}
                        <img src="{{ user.profile.profile_photo.url }}" class="avatar" alt="Аватар">
                    {% else %}
                        <img src="{% static 'images/avatar.png' %}" class="avatar" alt="Аватар">
                    {% endif %}
                </ul>
            {% else %}
                <ul class="right-content">
                    <li><a href="{% url 'login' %}">log in</a></li>
                    <li><a href="{% url 'register' %}">sign in</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>