<link rel="stylesheet" href="../../css/navbar.css">
{% if user.is_authenticated %}
    <nav> <!-- авторизированный -->
        <p>лого</p>
        <ul class="right-content">
            <li><a href="#">tasks</a></li>
            <li><a href="#">profile</a></li>
        </ul>
        <img src="test-img.png" alt="avatar" class="avatar right-content">
    </nav>
{% else %}
    <nav> <!-- не авторизированный -->
        <p>лого</p>
        <ul class="right-content">
            <li><a href="#">login</a></li>
            <li><a href="#">sign up</a></li>
        </ul>
    </nav>
{% endif %}

